<!DOCTYPE html><html><meta name= "viewport"    content="width=device-width, initial-scale=1" >
<link rel="stylesheet"    href="https://www.w3schools.com/w3css/4/w3.css"   >
<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css') }}">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
        .dot {
              height: 25px;
              width: 25px;
              background-color: #7214;
              border-radius: 50%;
              display: inline-block;
            }
    </style>
</head>
<body> <!--  Start of body tag -->

<div class="sidebar" > <!-- SideBar tab-->
<h3 class="w3-bar-item" style="border-bottom: 2px solid black;text-align: center;">Product</h3>  <!--  Title of sideBar tab-->
<a href="/" style="background-color: darkgray;" >PC00001</a> <!--  First SideBar Menu-->
<a href="/device2" >PC00002</a> <!--  Second SideBar Menu-->
<a href="#" >PC00003</a> <!--  Third SideBar Menu-->
</div>   <!--  End of SideBar tab -->

<div class="content"  >              <!--  Contents beside the sidebar should be within this div-->

<div class="w3-container w3-teal">                                   <!--  Header div line -->
<h1 align=center><font>Pick To Light</font></h1>  <!--Header -->
</div>                                                                    <!--  End of Header div-->

<div class="w3-container"   >              <!--  Div for each device-->
    <p id="testing">Test</p>
<h2 align=center> PC00001</h2>   <!--  Deivce header-->


<table>
    <tr>
      <th>Parts</th>
      <th>Color Picker</th>
      <th>LED Lights</th>
    </tr>
    {% for device in devices %}
    <tr>
      <td>{{device['Device_Name']}}</td>
      <td><input type="color" id="{{device['Device_ID']}}" class="tableColor"><!--  Color Picker--></td>
      <td style="text-align:center" ><span style="background-color: {{device['Command']}}" class="dot"></span></td>
    </tr>
    {% endfor %}
</table>
<br>
<button id="submitTable">Submit</button>
<br>
<h3>LED #1</h3>Red:                                           <!--  RED LED Header-->
<button name="10" value="AT+TX AAX00010R125G000B000BB" onclick="individualBtnLED(this)"  >HIGH</button>       <!--  High Button for RED LED-->
<button name="10" value="AT+TX AAX00010R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>    <!--  High Button for RED LED-->

<br>
</h3>Green:                                         <!--  GREEN LED Header-->
<button name="10" value="AT+TX AAX00010R000G255B000BB" onclick="individualBtnLED(this)"   >HIGH</button>     <!--  High Button for GREEN LED-->
<button name="10" value="AT+TX AAX00010R000G000B000BB" onclick="individualBtnLED(this)"   >LOW</button><br>  <!--  Low Button for GREEN LED-->


<h3>
</h3>Output:                                            <!--  LED STRIP Header-->
<button name="10" value="AT+TX AAX00010R000G000B255BB" onclick="individualBtnLED(this)"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button name="10" value="AT+TX AAX00010R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->


<h3>LED #2</h3>Red:                                           <!--  RED LED Header-->
<button name="20" value="AT+TX AAX00020R255G000B000BB" onclick="individualBtnLED(this)"  >HIGH</button>       <!--  High Button for RED LED-->
<button name="20" value="AT+TX AAX00020R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>    <!--  High Button for RED LED-->


<h3>
</h3>Green:                                         <!--  GREEN LED Header-->
<button name="20" value="AT+TX AAX00020R000G255B000BB" onclick="individualBtnLED(this)"   >HIGH</button>     <!--  High Button for GREEN LED-->
<button name="20" value="AT+TX AAX00020R000G000B000BB" onclick="individualBtnLED(this)"   >LOW</button><br>  <!--  Low Button for GREEN LED-->


<h3>
</h3>Blue:                                            <!--  LED STRIP Header-->
<button name="20" value="AT+TX AAX00020R000G000B255BB" onclick="individualBtnLED(this)"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button name="20" value="AT+TX AAX00020R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO.0</h3>Output:                                            <!--  LED STRIP Header-->
<button name="40" value="AT+TX AAX00040R255G000B000BB" onclick="individualBtnLED(this)"   >HIGH</button>        <!--  High Button for RED LED-->
<button name="40" value="AT+TX AAX00040R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>     <!--  Low Button for RED LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO1</h3>Output:                                            <!--  LED STRIP Header-->
<button name="1040" value="AT+TX AAX01040R000G255B000BB" onclick="individualBtnLED(this)"   >HIGH</button>        <!--  High Button for GREEN LED-->
<button name="1040" value="AT+TX AAX01040R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>     <!--  Low Button for GREEN LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO2</h3>Output:                                            <!--  LED STRIP Header-->
<button name="2040" value="AT+TX AAX02040R000G000B255BB" onclick="individualBtnLED(this)"   >HIGH</button>        <!--  High Button for BLUE LED-->
<button name="2040" value="AT+TX AAX02040R000G000B000BB" onclick="individualBtnLED(this)"  >LOW</button><br>     <!--  Low Button for BLUE LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>RGB</h3>Output:                                                   <!--  Color Picker Header-->
<input type="color" id="second"><br><br>                          <!--  Color Picker-->
<button id="submitVal"> Submit </button>                       <!--  Submit button-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->


<h3>Command</h3>                                                      <!--  Command Header-->
<!-- AAX00010R255G255B000BB<input type="text" id="command">  -->
AT+TX AAX000<input type="text" id="deviceNumber"   >
0R<input type="text" id="redVal"   >
G<input type="text" id="greenVal"   >
B<input type="text" id="blueVal"  >
BB
<br><br>                                                              <!--  Textarea-->
<button onclick=textInputFunc()> Submit </button>                     <!--  Submit button-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>Command</h3>                                                      <!--  Command Header-->
<input type="textarea" id="command"><br><br>                      <!--  Textarea-->
<button onclick=commandFunction()> Submit </button>                   <!--  Submit button-->
<hr style="height:2px;background-color:black "  >                      <!--  Line-->

</div>                                                                <!--  End of Device 1 div-->
                                           <!--  End of Content Div-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">                                                                            //  JavaScript-->

function individualBtnLED(element){
  alert(element.value);
  $.ajax({
    data : {
              rgbValues:element.value,
              deviceID: element.name
            },                  //  Send over to flask
    type : 'GET',
    url : '/individualBtnLED'
    })
}

function textInputFunc() {                                                                      //  textInputFunc -->
    var deviceNumber = String(document.getElementById("deviceNumber").value);                     //  Get inputs by user through the input ID-->
    var redRGB = String(document.getElementById("redVal").value);                                 //  Get inputs by user through the input ID-->
    if(redRGB.length<3){
        if(redRGB.length==2){
        redRGB="0"+redRGB;
        }else{
        redRGB="00"+redRGB;
        }
    }

    var greenRGB = String(document.getElementById("greenVal").value);                             //  Get inputs by user through the input ID-->
    if(greenRGB.length<3){
        if(greenRGB.length==2){
        greenRGB="0"+greenRGB;
        }else{
        greenRGB="00"+greenRGB;
        }
    }

    var blueRGB = String(document.getElementById("blueVal").value);//  Get inputs by user through the input ID-->
    if(blueRGB.length<3){
        if(blueRGB.length==2){
        blueRGB="0"+blueRGB;
        }else{
        blueRGB="00"+blueRGB;
        }
    }

    var rgbValues = "AT+TX AAX000"+deviceNumber+"0R"+redRGB+"G"+greenRGB+"B"+blueRGB+"BB";
    $.ajax({                        //  Send over to flask
    data : {
            rgbValues:rgbValues,
            deviceID: deviceNumber
          },
    type : 'GET',
    url : '/textPart'
    })
  }//  End of textInputFunc-->

    function commandFunction() {                                                                    //  commandFunction -->
    var rgbValues = String(document.getElementById("command").value);                               //  Get inputs by user through the input ID-->
    var id = rgbValues.slice(3,11)
    id = parseInt(id)
    alert(rgbValues);
    $.ajax({                        //  Send over to flask
    data : {
              rgbValues:rgbValues,
              deviceID: id
            },
    type : 'GET',
    url : '/fullCmd'
    })
    }//  End of commandFunction-->

    function hexToRgb(hex) {                                                                        //  Convert hex in color picker device 2 to rgb
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }




    $(document).ready(function() {        // AJAX jquery
      $("#submitVal").click(function(){
        hexValues = $("#second").val();

        redVal = hexToRgb(hexValues).r;   //  Pad red with '0's
        if (redVal<100){
            if(redVal<10){
            redVal = "00"+redVal.toString();
            }else{
            redVal = "0"+redVal.toString();
            }
        }

        greenVal = hexToRgb(hexValues).g; //  Pad green with '0's

        if (greenVal<100){
            if(greenVal<10){
            greenVal = "00"+greenVal.toString();
            }else{
            greenVal = "0"+greenVal.toString();
            }
        }

        blueVal = hexToRgb(hexValues).b   //  Pad green with '0's
        if (blueVal<100){
            if(blueVal<10){
            blueVal = "00"+blueVal.toString();
            }else{
            blueVal = "0"+blueVal.toString();
            }
        }
        //rgbValues = redVal.toString()+greenVal.toString()+blueVal.toString();
        rgbValues = "AT+TX AAX00010R" + redVal.toString() + "G" + greenVal.toString() + "B" + blueVal.toString() + "BB" //    Combine into string
        alert(rgbValues);
        $.ajax({                        //  Send over to flask
        data : {
            rgbValues:rgbValues,
            deviceID: 1
          },
        type : 'GET',
        url : '/singleSubmit'
        })
      });

    // Table RGB values

    $("#submitTable").click(function(){           //  When button of the table is clicked
      var cmdArray = [];
      var data = document.getElementsByClassName("tableColor");  //  Create a array of values by class of input
      var colorDot = document.getElementsByClassName("dot");     //  To get all the element with class name dot

      for (var x =0; x< data.length; x++) {
      hexValues = data[x].value;
      id = data[x].id;

      colorDot[x].style.backgroundColor = hexValues;   //  To set the dot to that color

      redVal = hexToRgb(hexValues).r;                  //  Pad red with '0's
      if (redVal<100){
          if(redVal<10){
          redVal = "00"+redVal.toString();
          }else{
          redVal = "0"+redVal.toString();
          }
      }

      greenVal = hexToRgb(hexValues).g;                //  Pad green with '0's

      if (greenVal<100){
          if(greenVal<10){
          greenVal = "00"+greenVal.toString();
          }else{
          greenVal = "0"+greenVal.toString();
          }
      }

      blueVal = hexToRgb(hexValues).b                  //  Pad green with '0's
      if (blueVal<100){
          if(blueVal<10){
          blueVal = "00"+blueVal.toString();
          }else{
          blueVal = "0"+blueVal.toString();
          }
      }
      //rgbValues = redVal.toString()+greenVal.toString()+blueVal.toString();
      rgbValues = "AAX000"+ id + "0R" + redVal.toString() + "G" + greenVal.toString() + "B" + blueVal.toString() + "BB" //    Combine into string

      cmdArray.push({rgbValues:rgbValues,id:id});
      console.log(cmdArray)
      };

      $.ajax({                        //  Send over to flask
        type : 'POST',
        url : '/rgbVal',
        data : JSON.stringify(cmdArray),
        contentType: "application/json",
        dataType: 'json'
        })
    });

    // elements = document.getElementsByTagName("td")
    //         for (var i = elements.length; i--;) {
    //             if (elements[i].innerHTML === "Under maintenance") {
    //             elements[i].style.color = "red";
    //             }
    //         }
  });
    </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript">
   // This for the socket to receive and append

   console.log("http://" + document.domain + ":" + location.port + "/test");
    var socket = io.connect('http://' + document.domain + ':' + location.port);

// this is a callback that triggers when the "event" event is emitted by the server.
    socket.on('event', function(msg) {
        console.log("Received message" + msg.data);
        $('#testing').append('<p>Received: ' + msg.data + '</p>');
    });

</script>
    </body>