<!DOCTYPE html><html><meta name= "viewport"    content="width=device-width, initial-scale=1" >
<link rel="stylesheet"    href="https://www.w3schools.com/w3css/4/w3.css"   >
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
        .dot {
              height: 25px;
              width: 25px;
              background-color: #7214;
              border-radius: 50%;
              display: inline-block;
            }
    </style>
</head>
<body> <!--  Start of body tag -->

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15;" > <!-- SideBar tab-->
<h3 class="w3-bar-item" style="border-bottom: 2px solid black;">Product</h3>  <!--  Title of sideBar tab-->
<a href="/" style="background-color: darkgray;" class="w3-bar-item w3-button">PC00001</a> <!--  First SideBar Menu-->
<a href="#" class="w3-bar-item w3-button">PC00002</a> <!--  Second SideBar Menu-->
<a href="#" class="w3-bar-item w3-button">PC00003</a> <!--  Third SideBar Menu-->
</div>   <!--  End of SideBar tab -->

<div style="margin-left:15%"   >              <!--  Contents beside the sidebar should be within this div-->

<div class="w3-container w3-teal">                                   <!--  Header div line -->
<h1 align=center><font>Pick To Light</font></h1>  <!--Header -->
</div>                                                                    <!--  End of Header div-->

<div class="w3-container"   >              <!--  Div for each device-->
<h2 align=center> PC00001</h2>   <!--  Deivce header-->


<table>
    <tr>
      <th>Parts</th>
      <th>Color Picker</th>
      <th>LED Lights</th>
    </tr>
    <tr>
      <td>Buzzer</td>
      <td><input type="color" id="1" name="1" class="tableColor"><!--  Color Picker--></td>
      <td style="text-align:center" ><span class="dot"></span></td>
    </tr>
    <tr>
      <td>Battery</td>
      <td><input type="color" name="2" id="2" class="tableColor"><!--  Color Picker--></td>
      <td style="text-align:center"><span class="dot"></span></td>
    </tr>
    <tr>
      <td>LED</td>
      <td><input type="color" name="3" id="3" class="tableColor" ><!--  Color Picker--></td>
      <td style="text-align:center"><span class="dot"></span></td>
    </tr>
    <tr>
      <td>PCB</td>
      <td><input type="color" name="4" id="4" class="tableColor" ><!--  Color Picker--></td>
      <td style="text-align:center"><span class="dot"></span></td>
    </tr>
    <tr>
      <td>Regulator</td>
      <td><input type="color" name="5" id="5" class="tableColor" ><!--  Color Picker--></td>
      <td style="text-align:center"><span class="dot"></span></td>
    </tr>
</table>
<br>
<button id="submitTable">Submit</button>
<br>
<h3>RED LED 1</h3>Output:                                           <!--  RED LED Header-->
<button onclick="location.href='./1-RH'"  >HIGH</button>       <!--  High Button for RED LED-->
<button onclick="location.href='./1-RL'"  >LOW</button><br>    <!--  High Button for RED LED-->
<hr style="height:2px;background-color:black"  >                  <!--  Line -->

<h3>Green LED 1</h3>Output:                                         <!--  GREEN LED Header-->
<button onclick="location.href='./1-GH'"   >HIGH</button>     <!--  High Button for GREEN LED-->
<button onclick="location.href='./1-GL'"   >LOW</button><br>  <!--  Low Button for GREEN LED-->
<hr style="height:2px;background-color:black"   >                  <!--  Line-->

<h3>BLUE LED 1</h3>Output:                                            <!--  LED STRIP Header-->
<button onclick="location.href='./1-BH'"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button onclick="location.href='./1-BL'"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->


<h3>RED LED 2</h3>Output:                                           <!--  RED LED Header-->
<button onclick="location.href='./2-RH'"  >HIGH</button>       <!--  High Button for RED LED-->
<button onclick="location.href='./2-RL'"  >LOW</button><br>    <!--  High Button for RED LED-->
<hr style="height:2px;background-color:black"  >                  <!--  Line -->

<h3>Green LED 2</h3>Output:                                         <!--  GREEN LED Header-->
<button onclick="location.href='./2-GH'"   >HIGH</button>     <!--  High Button for GREEN LED-->
<button onclick="location.href='./2-GL'"   >LOW</button><br>  <!--  Low Button for GREEN LED-->
<hr style="height:2px;background-color:black"   >                  <!--  Line-->

<h3>BLUE LED 2</h3>Output:                                            <!--  LED STRIP Header-->
<button onclick="location.href='./2-BH'"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button onclick="location.href='./2-BL'"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO.0</h3>Output:                                            <!--  LED STRIP Header-->
<button onclick="location.href='./1-SRH'"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button onclick="location.href='./1-SRL'"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO1</h3>Output:                                            <!--  LED STRIP Header-->
<button onclick="location.href='./1-SGH'"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button onclick="location.href='./1-SGL'"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>LED STRIP NO2</h3>Output:                                            <!--  LED STRIP Header-->
<button onclick="location.href='./1-SBH'"   >HIGH</button>        <!--  High Button for YELLOW LED-->
<button onclick="location.href='./1-SBL'"  >LOW</button><br>     <!--  Low Button for YELLOW LED-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->



<h3>RGB</h3>Output:                                                   <!--  Color Picker Header-->
<input type="color" id="second"><br><br>                          <!--  Color Picker-->
<button id="submitVal"> Submit </button>                       <!--  Submit button-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->


<h3>Command</h3>                                                      <!--  Command Header-->
<!-- AAX00010R000G255B000BB<input type="text" id="command">  -->
AT+TX AAX00<input type="text" id="deviceNumber"   >
0R<input type="text" id="redVal"   >
G<input type="text" id="greenVal"   >
B<input type="text" id="blueVal"  >
BB
<br><br>                                                              <!--  Textarea-->
<button onclick=textInputFunc()> Submit </button>                     <!--  Submit button-->
<hr style="height:2px;background-color:black"   >                      <!--  Line-->

<h3>Command</h3>                                                      <!--  Command Header-->
<input type="textarea" id="command"><br><br>                      <!--  Textarea-->
<button onclick=commandFunction()> Submit </button>                   <!--  Submit button-->
<hr style="height:2px;background-color:black "  >                      <!--  Line-->

</div>                                                                <!--  End of Device 1 div-->
                                           <!--  End of Content Div-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">                                                                            //  JavaScript-->
function rgbFunction() {    //  rbgFunction
    var colorCode = (document.getElementById("rgbVal").value).substring(1);     //  Get Hex value of color-->
    alert(colorCode);
    var test ="RGBVal=";                                                           //  Assign URL path to var test-->
    var URL = test.concat(colorCode) ;                                                  //  Concat hex color code to URL path-->
    location.href=URL  ;                                                                //  Redirect to URL-->-->
}                                                                                   //  End of rgbFunction-->

function textInputFunc() {                                                                      //  textInputFunc -->
    var deviceNumber = String(document.getElementById("deviceNumber").value);                     //  Get inputs by user through the input ID-->
    var redRGB = String(document.getElementById("redVal").value);                                 //  Get inputs by user through the input ID-->
    if(redRGB.length<3){
        if(redRGB.length==2){
        redRGB="0"+redRGB;
        }else{
        redRGB="00"+redRGB;
        }
    }

    var greenRGB = String(document.getElementById("greenVal").value);                             //  Get inputs by user through the input ID-->
    if(greenRGB.length<3){
        if(greenRGB.length==2){
        greenRGB="0"+greenRGB;
        }else{
        greenRGB="00"+greenRGB;
        }
    }

    var blueRGB = String(document.getElementById("blueVal").value);                               //  Get inputs by user through the input ID-->
    if(blueRGB.length<3){
        if(blueRGB.length==2){
        blueRGB="0"+blueRGB;
        }else{
        blueRGB="00"+blueRGB;
        }
    }

    var rgbValues = "AAX000"+deviceNumber+"0R"+redRGB+"G"+greenRGB+"B"+blueRGB+"BB";     //  Join the strings together-->
    alert(rgbValues);
    $.ajax({                        //  Send over to flask
    data : {rgbValues:rgbValues},
    type : 'GET',
    url : '/rgbVal'
    })                                                                   //  Redirect to URL-->
  }                                                                                               //  End of textInputFunc-->

    function commandFunction() {                                                                    //  commandFunction -->
    var rgbValues = String(document.getElementById("command").value);                               //  Get inputs by user through the input ID-->
    alert(rgbValues);
    $.ajax({                        //  Send over to flask
    data : {rgbValues:rgbValues},
    type : 'GET',
    url : '/rgbVal'
    })                                                                       //  Redirect to URL-->
    }                                                                                               //  End of commandFunction-->

    function hexToRgb(hex) {                                                                        //  Convert hex in color picker device 2 to rgb
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }




    $(document).ready(function() {                                                                  // AJAX jquery
      $("#submitVal").click(function(){
        hexValues = $("#second").val();

        redVal = hexToRgb(hexValues).r;                                                             //  Pad red with '0's
        if (redVal<100){
            if(redVal<10){
            redVal = "00"+redVal.toString();
            }else{
            redVal = "0"+redVal.toString();
            }
        }

        greenVal = hexToRgb(hexValues).g;                                                           //  Pad green with '0's

        if (greenVal<100){
            if(greenVal<10){
            greenVal = "00"+greenVal.toString();
            }else{
            greenVal = "0"+greenVal.toString();
            }
        }

        blueVal = hexToRgb(hexValues).b                                                             //  Pad green with '0's
        if (blueVal<100){
            if(blueVal<10){
            blueVal = "00"+blueVal.toString();
            }else{
            blueVal = "0"+blueVal.toString();
            }
        }
        //rgbValues = redVal.toString()+greenVal.toString()+blueVal.toString();
        rgbValues = "AAX00010R" + redVal.toString() + "G" + greenVal.toString() + "B" + blueVal.toString() + "BB" //    Combine into string
        alert(rgbValues);
        $.ajax({                        //  Send over to flask
        data : {rgbValues:rgbValues},
        type : 'GET',
        url : '/rgbVal'
        })
      });

    // Table RGB values

    $("#submitTable").click(function(){                                                           //  When button of the table is clicked
      var cmdArray = [];
      var data = $(".tableColor").serializeArray();                                               //  Create a array of values by class of input
      console.log(data);
      data.map(function(data){
      hexValues = data.value;
      id = data.name;

      redVal = hexToRgb(hexValues).r;                                                             //  Pad red with '0's
      if (redVal<100){
          if(redVal<10){
          redVal = "00"+redVal.toString();
          }else{
          redVal = "0"+redVal.toString();
          }
      }

      greenVal = hexToRgb(hexValues).g;                                                           //  Pad green with '0's

      if (greenVal<100){
          if(greenVal<10){
          greenVal = "00"+greenVal.toString();
          }else{
          greenVal = "0"+greenVal.toString();
          }
      }

      blueVal = hexToRgb(hexValues).b                                                             //  Pad green with '0's
      if (blueVal<100){
          if(blueVal<10){
          blueVal = "00"+blueVal.toString();
          }else{
          blueVal = "0"+blueVal.toString();
          }
      }
      //rgbValues = redVal.toString()+greenVal.toString()+blueVal.toString();
      rgbValues = "AAX000"+ id + "0R" + redVal.toString() + "G" + greenVal.toString() + "B" + blueVal.toString() + "BB" //    Combine into string

      cmdArray.push(rgbValues);
      });

      $.ajax({                        //  Send over to flask
        type : 'POST',
        url : '/rgbVal',
        data : JSON.stringify(cmdArray),
        contentType: "application/json",
        dataType: 'json'
        })
    });

    // elements = document.getElementsByTagName("td")
    //         for (var i = elements.length; i--;) {
    //             if (elements[i].innerHTML === "Under maintenance") {
    //             elements[i].style.color = "red";
    //             }
    //         }
  });
    </script>
    </body>