USE [VDBDemoDB]
GO
/****** Object:  Table [dbo].[BwAnaChgLog]    Script Date: 30-Aug-21 3:38:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BwAnaChgLog](
	[ProjNodeId] [int] NOT NULL,
	[TagName] [varchar](32) NOT NULL,
	[LogDate] [varchar](12) NOT NULL,
	[LogTime] [varchar](12) NOT NULL,
	[LogMilliSecond] [int] NOT NULL,
	[LogValue] [numeric](18, 6) NULL,
	[Alarm] [int] NULL,
 CONSTRAINT [pk_AnaChgLog_1] PRIMARY KEY CLUSTERED 
(
	[ProjNodeId] ASC,
	[LogDate] ASC,
	[LogTime] ASC,
	[LogMilliSecond] ASC,
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BwAnaChgLog] ([ProjNodeId], [TagName], [LogDate], [LogTime], [LogMilliSecond], [LogValue], [Alarm]) VALUES (7, N'L9_SMT_ESD_1_Op1_Stat ', N'2021-08-16', N'16:38:46', 4, CAST(2.000000 AS Numeric(18, 6)), NULL)
INSERT [dbo].[BwAnaChgLog] ([ProjNodeId], [TagName], [LogDate], [LogTime], [LogMilliSecond], [LogValue], [Alarm]) VALUES (7, N'L9_SMT_ESD_1_Op1_Stat ', N'2021-08-16', N'16:39:35', 4, CAST(1.000000 AS Numeric(18, 6)), NULL)
INSERT [dbo].[BwAnaChgLog] ([ProjNodeId], [TagName], [LogDate], [LogTime], [LogMilliSecond], [LogValue], [Alarm]) VALUES (7, N'L9_SMT_ESD_1_Op1_Stat ', N'2021-08-16', N'16:40:23', 4, CAST(2.000000 AS Numeric(18, 6)), NULL)
